
.Secondtitle {
  font-size: 5rem;
 font-weight: 800;
  line-height: 1;
  color: #FFF4C4;
  padding-top: 100px; 
}

.Text {
  font-size: 10rem;
  font-weight: 800;
  line-height: 1;
  color: #FFF4C4;
   position: relative;
  z-index: 1; 
}

.hero-name{
  position: relative; /* anchor for absolute image */
  width: 100%;
}


/* IMAGE ON TOP */
.hero-img{
  position: absolute;
  top: 100px;        /* move image up/down */
  right: 10%;        /* move image left/right */
  width: 500px;      /* control size */
  z-index: 2;        /* image on top */
}
