
.Secondtitle {
  font-size: 5rem;
 font-weight: 800;
  line-height: 1;
  color: #FFF4C4;
  padding-top: 100px; 
}


.about-word{
  position: relative;
  
}

.about-word::after{
  content: "About";
  position: absolute;
  left: 8px;
  top: 8px;
  color: rgba(255, 244, 196, 0.15);
  z-index: -1;
}

/* ME décalé */
.me-word{
  display: inline-block;
  margin-left: 13rem; 
  
  
   position: relative;
  
}

.me-word::before{
  content: "";
  position: absolute;
  left: -12rem;   /* length control */
  top: 50%;
  transform: translateY(-50%);
  width: 10rem;   /* line length */
  height: 2px;
  background: #FFF4C4;
  opacity: 0.8;
  
}

.me-word::after{
  content: "Me";
  position: absolute;
  left: 8px;
  top: 8px;
  color: rgba(255, 244, 196, 0.15);
  z-index: -1;
}




.Text {
  font-size: 9rem;
  font-weight: 800;
  line-height: 1;
  color: #FFF4C4;
   position: relative;

}

.subtitle{
  margin-top: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .9rem;
  opacity: .85;
  color: #FFF4C4;
  
}


.hero-name{
  position: relative; /* anchor for absolute image */
  width: 100%;
}


/* IMAGE ON TOP */
.hero-img{
  position: absolute;
  top: 100px;        /* move image up/down */
  right: 10%;        /* move image left/right */
  width: 500px;      /* control size */
  z-index: 2;        /* image on top */
}


/* CTA container */
.cta{
  display: flex;
  gap: 16px;
  margin-top: 28px;
}

/* Base pill */
.cta-pill{
  height: 48px;
  padding: 0 28px;
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;

  transition: transform .18s ease, opacity .18s ease, background .18s ease;
}

/* Filled button */
.cta-pill.fill{
  background: #FFF4C4;
  color: #111;
}

/* Outline button */
.cta-pill.outline{
  border: 1px solid #FFF4C4;
  color: #FFF4C4;
  background: transparent;
}

/* Hover effect */
.cta-pill:hover{
  transform: translateY(-2px);
  opacity: .9;
}

/* Mobile */
@media (max-width: 576px){
  .cta{
    flex-direction: column;
    align-items: flex-start;
  }
}
