body {
  margin: 0;
  background-color: #590202;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.arrow .line {
  width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

.arrow i {
    color: #FFF4C4;

}


.description {

  font-size: 0.9rem;
  color: #ccc49e;
}