
body{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  background:
    radial-gradient(circle, rgba(255,244,196,.12) 1px, transparent 1px),
    linear-gradient(180deg, #590202 0%, #2a0505 100%);

  background-size:
    26px 26px,
    cover;

  background-position:
    center,
    center;

  color: #FFF4C4;
}


.edu-hero{
  position: relative;
  min-height: 100vh;
  padding: 28px 34px;
  color:#FFF4C4;
  overflow-x: hidden;
}

.edu-hero::after{
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.9' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='160' height='160' filter='url(%23n)' opacity='.22'/%3E%3C/svg%3E");
  mix-blend-mode: overlay;
  opacity: .35;
}


.edu-top{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.edu-wrap{
  position: relative;
  z-index: 2;
  margin-top: 38px;
  display: grid;
  grid-template-columns: 1.1fr .9fr;
  gap: 30px;
  align-items: center;
  min-height: calc(100vh - 120px);
}

.edu-left {
  max-width: 560px;
}

.edu-block {
  margin-bottom: 3rem;
}

.edu-block h2 {
  font-weight: 800;
  font-size: clamp(1.6rem, 2.6vw, 2.3rem);
  margin-bottom: 12px;
  letter-spacing: 0.2px;
  line-height: 1.25;
}

.edu-block h2 span {
  display: block;
  font-size: 0.95rem;
  font-weight: 600;
  opacity: 0.8;
  margin-top: 6px;
}

.description {
  font-size: 0.98rem;
  line-height: 1.65;
  color: #FFF4C4;
  max-width: 520px;
  margin-bottom: 12px;
}



.edu-right{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
}

.edu-photo{
  position: relative;
  width: 360px;
  height: 520px;   
  filter: grayscale(100%);
  
}

.edu-photo img{
  width: 500px;
  padding-right: 100px;

}

.edu-photo img:first-child{
  transform: translateX(-40px);
}

.edu-photo img:last-child{
  transform: translateX(-300px);
}




.edu-vertical{
  position: absolute;
  right: 40px;
  top: 90%;
  transform: translateY(-50%) rotate(90deg);
  transform-origin: right center;
  font-weight: 900;
  letter-spacing: .08em;
  font-size: clamp(3.2rem, 6vw, 5.6rem);
  color: #FFF4C4;
  line-height: 1;
}

@media (max-width: 576px){
  .edu-photo{
    display: none !important;
  }

 
  /* .edu-vertical{
    display: none !important;
  } */


  .edu-wrap{
    grid-template-columns: 1fr;
    min-height: auto;
    gap: 24px;
  }

  .edu-left{
    max-width: 100%;
  }
}


