/* Base */
body {
  margin: 0;
  background-color: #590202;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Hero section */
.hero {
  width: 95%;
  max-width: 1100px;
  aspect-ratio: 16 / 9;
 
  margin: 40px auto;
  border-radius: 14px;
}



/* Content layer */
.hero .container-fluid {
  z-index: 3;
}

/* Arrow */
.arrow .line {
  width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Title */
.title-wrapper {
  position: absolute;
  top: 50%;
  left: 40px;
  right: 40px;
  transform: translateY(-50%);
}

.hero-title {
  font-size: 15rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 0.85;
  color: #FFF4C4;

  white-space: nowrap;
}

.hero-subtitle {
  position: absolute;
  top: 35%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 500;
  color: #FFF4C4;

  letter-spacing: 3px;
}

/* Outline middle letters */
.hero-title .outline {
  color: transparent;
  -webkit-text-stroke: 2px #e6dcc9;
}

/* Bottom text */
.bottom-text {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.75);
}

/* Responsive tweaks */
@media (max-width: 576px) {
  .hero {
    border-radius: 10px;
  }

  .hero-title {
    letter-spacing: 1px;
  }

  .arrow .line {
    width: 40px;
  }
}
